.git
.idea
bin
box2
logs
public/upload/**/*
!public/upload/.htaccess
schema
tests
vendor
.dockerignore
.gitattributes
.gitignore
.php_cs.dist
.travis.yml
box.json
phpunit.xml.dist
Dockerfile
*.sh
*.md